@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-scrollbar { display: none; }
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.swipter-theme-color,
.swiper-button-next:after,
.swiper-button-prev:after  {
    color: rgb(212 212 212);
}